html{
    position: relative;
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
header{
    height: 22.5vh;
}
main{
    height: 70vh;
    display: flex;
    margin: 0px;
    background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
form{
    margin: 0px;
    display: block;
    width: 50vw;
    height: 60rem;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 12.7vh;
}
.boton{
    animation-duration: 0.5;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 25px;
    color: black;
    background: transparent;
    border: 2px solid #f5a733;
    border-radius: 18px;
    text-transform: uppercase;
}
.boton:hover{
    cursor: pointer;
    transition-duration: 0.7s;
    background-color: #f5a733;
    color: white;
}
.advertencia{
    margin-left: 2vw;
    color: white;
    padding: 4px 4px;
    border-radius: 12px;
    font-size: 17px;
    background-color: black;
}
aside{
    width: 50vw;
}
.logolado{
    margin-top: 25vh;
    margin-left: 20vw;
}
.formulario{
    margin-top: 10vh;
    margin-left: 10vw;
}
.nombre{
    box-shadow: 3px 3px 5px black;
}
.telefono{
    box-shadow: 3px 3px 5px black;
}
.fecha{
    box-shadow: 3px 3px 5px black;
}
.hora{
    box-shadow: 3px 3px 5px black;
}
.personas{
    box-shadow: 3px 3px 5px black;
}